[user]
	name = Ryan Davis
	email = ryan@acceleration.net
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = simple
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        glg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	lgd = log --decorate
